@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  size: 10px;
  line-height: 3.5em;
  font-weight: 300; 
}
h1, h2, h3, h4, h5{
  font-family: Roboto Condensed;
}
h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

h3 {
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}
h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line-height: 1em;
  margin-bottom: 15px;
}
h5 {
  font-size: 1.2em;
  line-height: 1em;
  margin: 0;
}

/* nav {
  background-color: darkblue;
  color: white;
} */

.nav-bar {
  background-color: darkblue;
  color: white;
  padding: 14px 0px;
}

.nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul{
  width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
}
.nav-bar-ul li{
  list-style-type: none;;
  text-align: center;
}


/* ENCABEZADO */


.header{
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  position: 0 0;
  background-size: cover  ;
  height: 650px;
  background-repeat: no-repeat;
  padding-top: 50px;
  position:relative;
   
}

.quote{
  font-size: 2.5em;
  position: absolute;
  left: 10%;
  bottom: 100px;
}

/* SECCIONES */

.container{
  width: 1200px;
  margin: 0 auto ;
  padding: 75px 0;
}

#general-information{
  display: flex;
  justify-content: space-evenly;
}

#general-information .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.dark-background {
  background-color: darkblue;
  color: white;
}

.text{
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0;
}

.link-btn{
  background-color: blue;
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}

#structure > div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}
.service-box{
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 red;
  margin-top: 50px; right: 5%; bottom: 0; left: 5%;
  padding: 20px;
  width: 40%;

}
.service-box img {
  width: 125px;
  
}
#team {
  padding: 75px 0;
  margin: 0 auto;
  
}

#team > div{
  display: flex;
  justify-content: space-evenly;
}

#team p{
  width: 60%;
  margin: 10px auto;
}

#team hr{
  margin: 20px auto 30px auto;
  width: 40%;
}

#team > div > article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-text{

  font-size: 1.9em;
  text-align: center;
}

.member-name{
  font-size: 1.5em;
  font-weight: 700;
  
}

#team img{
  width: 250px;
  height: 180px;
}


footer {
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address{
  font-size: 0.8em;
  font-style: normal;  
  margin-bottom: 30px
}

.footer a {
  color: blue;
  text-decoration: none;
}

footer ul{
  list-style: none;
  padding: 0;
  
}

.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th, td{
  border-bottom: solid 1px black;
  padding: 5px 10px;
  text-align: center;
}


.map-frame{
  height: 455px;
  width: 60%;


}


/* AGREGO ESTILOS AL FORMULARIO */ 

.slot-form-container{
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.slot-form-container label{
  line-height: 50px;
  margin: 5px;
}

.slot-form-container input, select {
  height: 20px;
  outline: none;
  padding: 3%;
  width: 100%;
}

.slot-form-container .btn{
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 9px;
  margin-top: 15px;
}