div {
    background-color: #00d1ae;
    border: 1px solid #17212e;
    padding: 10px;
    width: 170px;
    margin: 10px 10px 0px 0px;
  }

.d1  {
    background-color: #00D1AE;
    width: 170px;
    border: 1px solid #17212e;
    border-style: dashed;
    border-bottom: 1px solid #2442ff;
    padding: 5px 5px 0px 0px;

  }
.d2  {
    /* background-color: rgb(240, 29, 29); */
    color: black;
    width: 170px;
    border-style:dotted ;
    border: 1px dotted #2442ff;
    /* border-bottom: 1px solid #2442ff; */
    padding: 5px 20px 0px ;

  }
.d3  {
    background-color: #00D1AE;
    width: 170px;
    border: 1px solid #17212e;
    border-style: groove;
    /* border-bottom: 1px solid #2442ff; */
    padding: 5px 10px  ;

  }
.d4  {
    background-color: yellow;
    
    border: 1px solid #17212e;
    border-style:double ;
    

  }
.d5  {
    background-color: #00D1AE;
    width: 170px;
    border: 1px solid #17212e;
    border-style:ridge;
    border-bottom: 1px solid #2442ff;

  }

  /* span {
    background-color: rgba(160, 153, 158, 0.933);
    border: 1px solid rgb(179, 255, 0);
    border-radius: 3px;
  } */

  .circular-div {
    display:flexbox;
    background-color: #ccc;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  #circle1 {
    background-color: #B90136;
    width: 100px;
    height: 100px;
    border-radius: 50px;/* specify the radius */
  }
  
  #circle2 {
    background-color: #B90136;
    width: 100px;/* specify the radius */
    height: 100px;/* specify the radius */
    clip-path: circle();
  }
  
  #circle3::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;/* specify the radius */
    background-color: #B90136;
  }
  
  #circle4 {
    background-image: radial-gradient(#B90136 70%, transparent 30%);
    height: 100px;/* specify the radius */
    width: 100px;/* specify the radius */
  }


/* POSCIONAMIENTO DE OBJETOS DENTRO DE DOM */
  /* .box {
    border: 2px solid;
    font-family: Arial;
    font-size: 15px;
    width: 500px;
  }
  .not-relative {
    border-color: #00D1AE;
  }
  .relative {
    position: relative;
    border-color: #3B3BFF;
    left: 10px;
    top: 10px;
  }

  body {
    font-family: Arial;
    font-size: 15px;
  }
  
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #00D1AE;
    opacity: 0.8;
    color: #111;
    border: 3px solid #d15400;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 300px;
  } */

  div {
    border: 2px solid;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
  }
  
  .relative {
    border-color: #00D1AE;
    margin-top: 20px;
    position: relative;
  }
  
  .absolute {
    border-color: #3B3BFF;
    position: absolute;
  }
  
  .absolute-second {
    top: 100px;
    left: 500px;
  }